<div class="col-md-5 my-5 mx-auto">
  <table class="table table-dark text-center">
    <thead>
      <tr>
        <th scope="col">Siswa ID</th>
        <th scope="col">username</th>
        <th scope="col">Email</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to 'Edit', user_edit_path(:user_id => user.id), class: 'btn btn-secondary' %>
          <%= link_to 'Delete', user_delete_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>